{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block default_title %} Login {% endblock default_title %}

{% block content %}
    <div>
        <form method="POST">
          {% csrf_token %} <!-- #jate from hijack na hoye jay tai security -->
            <fieldset>
                <legend>Login to Continue</legend><br>
                {{ form|crispy }}
            </fieldset>
            
            <!-- Signup button add-->
            <div>
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        
       
        
        <!--already account thakle login page a niye jabe-->
        <div>
            <small>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></small>
        </div>
    </div>
	
{% endblock content %}